/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/
<style>
@import url(http://fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Montserrat:400,700);

body {
	font-family: 'Lato', sans-serif !important;
	font-size: 1.25em !important;
	line-height: 30px !important;
	font-weight: 400 !important;
	color: #8d8d8d !important;
}

#notebook-container {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container {
	margin-left: -4%;
}

.rendered_html h1 { font-size: 4rem !important;  }
.rendered_html h2 { font-size: 3rem !important; }
.rendered_html h3 { font-size: 2.5rem !important; }
.rendered_html h4 { font-size: 2rem !important; }
.rendered_html h5 { font-size: 1.5rem !important; }
.rendered_html h6 { font-size: 1.5rem !important; }

.rendered_html h1, 
.rendered_html h2, 
.rendered_html h3, 
.rendered_html h4,
.rendered_html h5, 
.rendered_html h6 {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 300 !important;
	line-height: 1.5em !important;
	color: rgb(221, 153, 51) !important;
}

h1 { font-size: 4.5rem !important; }
h2 { font-size: 4rem !important; }
h3 { font-size: 3.5rem !important; }
h4 { font-size: 3rem !important; }
h5 { font-size: 2.5rem !important; }
h6 { font-size: 2rem !important; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
	color: #e6ae48 !important;
	line-height: 150px !important;
}

p {
	font-family: 'Lato', sans-serif !important;
	font-size: 1.25em !important;
	line-height: 30px !important;
	font-weight: 400 !important;
	color: #8d8d8d !important;
}

code {
	font-family: 'Source Code Pro', sans-serif !important;
	font-size: 1em !important;
}

pre {
	font-family: 'Source Code Pro', sans-serif !important;
	font-size: 1em !important;
}

div.input_area {
	border: none !important;
	background: whitesmoke !important;
}
</style>